<div style="margin: 100px">
    Artista: {{artista.nome}}
    <img src="{{artista.imagem}}">
    
    <form ng-submit="adicionarNotaAoArtista(nota)">
        <input ng-model="nota">
        <button>Adicionar nota</button>
    </form>
    
    <form ng-submit="adicionarUltimaMusicaEscutada(musica)">
        <input ng-model="musica">
        <button>Adicionar musica</button>
    </form>
    
    <div ng-repeat="album in albunsDoArtista">{{album.nome}}</div>
    
    <!---
            TODO:
                REMOVER DOS FAVORITOS

            TERMINADO:
                MOSTRAR ALBUNS 
                MOSTRAR ULTIMA MUSICA OUVIDA
                MOSTRAR NOME DO ARTISTA
                MOSTRAR IMAGEM

                MOSTRAR NOTA DO ARTISTA
                CAMPO PARA NOTA DO ARTISTA

                CAMPO PARA A ULTIMA MUSICA ESCUTADA

                ADICIONAR AOS FAVORITOS
    --->
    
    <button ng-click="adicionarArtistaAosFavoritos()">adicionar aos favoritos</button>
    
    {{artista}}
    
    {{favoritos}}
</div>